{% extends "base.html" %}
{% block content %}


<div class="container mt-5">
    <form method="POST" class="card" style="margin-top:5rem;margin-left:auto;margin-right:auto;width: 40rem; border-width: 0px; padding-left:3rem; padding" enctype="multipart/form-data">
        {%csrf_token%}
        
        <div class="form-group">

        
            <div class="fieldWrapper">
                {{ form.title.errors }}
                <h3 style="color:mediumseagreen;margin-left: -2rem;margin-bottom: -2.2rem;font-weight: bold;">A</h3>
                <div>{{ form.title }}</div>
            </div>

            <div class="fieldWrapper" >
                {{ form.body.errors }}
                <br>
                {{ form.body }}
            </div>

            <div class="fieldWrapper" >
                {{ form.image.errors }}
                <label for="id_body">이미지 첨부</label>
                {{ form.image }}
            </div>

            <input class="btn btn-dark" type="submit" value="저장" style="margin-top:1rem">
        </div>
    </form>
</div>
{% endblock%}
